[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = latin1
indent_style = space
indent_size = 4

[*.{js,json,scss,html,yml}]
charset = utf-8
indent_size = 2

[Makefile]
indent_style = tab

[*.{c,h}]
# Only because original source is all tabs
indent_style = tab
