@import 'normalize.css';

$pageBg: #808080;
$borderColor: #888888;
$lightBg: #FFFFFF;
$darkBg: #EEEEEE;

$red: #CC0000;
$redDark: #990000;

$padTop: 0.5em;
$padRight: 0.5em;

html, body {
  background: $pageBg;
  border: 0;
  margin: 0;
  font: 1.1em tahoma, arial, sans-serif;
}

#app-wrap {
  max-width: 900px;
  margin: 0 auto;
  background-color: $darkBg;
}

#error-bar {
  background: $red;
  border: 1px solid $redDark;
  color: white;
  padding: $padTop $padRight;
}
