@charset 'utf-8';

@import 'sanitize.css/sanitize';
// Base styles hijacked and modified from
// https://mblode.github.io/marx/
@import '_marx.scss';

// Modify stock controls

// Last button in a group is floated right
.button-group {
  display: block;
  clear: both;

  & > *:last-child {
    float: right;
  }
}

// util
.pr { // pull-right
  float: right;
}
.fsb { // font-size base
  font-size: $font-size-base;
}

// Components
body {
  background: $grey;
}
main {
  background: $white;

  & > section {
    display: none;
  }
}

#error-bar {
  color: $white;
  background: $red;
  border: 1px solid darken($red, 20%);
  padding: $md-pad;
  margin-top: 0;
  display: none;
}

.head-btn {
  display: block;
  position: absolute;
  top: $md-pad;
  right: $md-pad;

  @media screen and (max-width: $small-breakpoint) {
    clear: both;
    width: 100%;
    position: static;
  }
}

#wifi-aps > div {
  clear: both;
  padding: $sm-pad $xs-pad;
  border-bottom: $border;

  &:hover {
    background: $grey;
    cursor: pointer;
  }
  &:focus, &:active {
    background: darken($grey, 10%);
    cursor: pointer;
  }
}


// Icons
.w0, .w1, .w2, .w3, .pw, .ph {
  height: 24px;
  width: 24px;
  margin-left: 20px;
}

.w0 { background: url(inline-image('./img/wifi0.png')) no-repeat center top; }
.w1 { background: url(inline-image('./img/wifi1.png')) no-repeat center top; }
.w2 { background: url(inline-image('./img/wifi2.png')) no-repeat center top; }
.w3 { background: url(inline-image('./img/wifi3.png')) no-repeat center top; }
.pw { background: url(inline-image('./img/lock.png'))  no-repeat center top; }
